<link rel="stylesheet" type="text/css" href="http://ansexameonline.herokuapp.com/css/datepicker.css">
<script type="text/javascript" src="http://ansexameonline.herokuapp.com/js/bootstrap-datepicker.js"></script>

<div class="row">
	<%= form_tag log_empresas_busca_path, :class => 'form-inline' do %>
		 
		<div class="form-group  col-md-2">
			<label>Tipo Exame: </label>
			<% if @empresas.size == 1%>
				<%= hidden_field :busca, :empresa_id, :value => @empresas.id %>
			<% else%>
			<%= collection_select(:busca, :empresa_id, @empresas, :id, :nome, {:prompt => 'Selecione a empresa...'}, {:class=>'form-control'}) %>
			<% end %>
		</div>
		<div class="form-group  col-md-2">
		 	<label>Data Inicio: </label>
			<%= text_field :busca, :data_inicio, class: 'form-control', :placeholder => "data inicio", id: "dpd1", allow_blank: true %>
		</div>
		<div class="form-group  col-md-2">
			<label>Data Fim: </label>
			<%= text_field :busca, :data_fim, class: 'form-control', :placeholder => "data fim", id: "dpd2", allow_blank: true %>
		</div>
		<div class="form-group  col-md-2">
			<br />
			<%= submit_tag 'Buscar', :class => 'btn btn-default' %>
		</div>
	<% end -%>
</div>
<script type="text/javascript">
;(function($){
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	var checkin = $('#dpd1').datepicker({
		format: 'dd-mm-yyyy',
	  onRender: function(date) {
	    //return date.valueOf() < now.valueOf() ? 'disabled' : '';
	  }
	}).on('changeDate', function(ev) {
	  if (ev.date.valueOf() > checkout.date.valueOf()) {
	    var newDate = new Date(ev.date)
	    newDate.setDate(newDate.getDate() + 1);
	    checkout.setValue(newDate);
	  }
	  checkin.hide();
	  $('#dpd2')[0].focus();
	}).data('datepicker');
	var checkout = $('#dpd2').datepicker({
		format: 'dd-mm-yyyy',
	  onRender: function(date) {
	    return checkin.date.valueOf();
	  }
	}).on('changeDate', function(ev) {
	  checkout.hide();
	}).data('datepicker');	
}(jQuery));
</script>