<%= form_for(@log_empresa) do |f| %>
  <% if @log_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_empresa.errors.count, "error") %> prohibited this log_empresa from being saved:</h2>

      <ul>
      <% @log_empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empresa_id %><br />
    <%= f.number_field :empresa_id %>
  </div>
  <div class="field">
    <%= f.label :mensagem %><br />
    <%= f.text_field :mensagem %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
