<h2>Categorias</h2>
<p>
  <%= link_to 'Nova Categoria', new_categorium_path, class: 'btn btn-sm btn-default' %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.nome %></td>
        <td></td>
        <td></td>
        <td>
          
          <div class="btn-group btn-group-sm">
            <% if session[:user_tipo] == 1 %>
                <%= link_to 'Visualizar', categorium, class: "btn btn-default" %> 
                <%= link_to 'Editar', edit_categorium_path(categorium), class: "btn btn-default" %>
                <%= link_to 'Deletar', categorium, method: :delete, data: { confirm: 'Realmente deseja deletar?' }, class: "btn btn-default" %>
            <% else %>
            <% end %>
           
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />