<%= form_for(@user, :multipart => true, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> para corrigir:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :nome %></label>
    <div class="col-lg-4">
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :email %></label>
    <div class="col-lg-4">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :login %></label>
    <div class="col-lg-4">
      <%= f.text_field :login, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :password %></label>
    <div class="col-lg-4">
      <%= f.text_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :password_confirmation %></label>
    <div class="col-lg-4">
      <%= f.text_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>


 <div class="form-group">
    <label class="col-lg-2 control-label">Logomarca</label>
    <div class="col-lg-4">
      <% if @user.id.present? %>
        <img src="<%= root_url %>clinica/<%= @user.link %>" width="140"/> <br/>
        <a href="#"> Enviar nova Logomarca </a>
      <% else %>
        <%= f.file_field :link, class: 'form-control' %>
      <% end %>
    </div>
  </div>
   
    

   
  <% if session[:user_tipo] == 1 %>
    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :tipo %></label>
      <div class="col-lg-4">
        <% #f.number_field :tipo, class: 'form-control' %>
        <select name="user[tipo]" class="form-control">  
          <option value="1">Admin</option>
          <option value="2" selected="selected">Clínica</option>
        </select>
         
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :tipo, :value => session["user_tipo"] %>
  <% end %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= f.submit 'Salvar', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>