<%= form_tag({:action => users_update_imagem_path }, :multipart => true, :html => {:class => "form-horizontal"}) do |f| %>

  <div class="form-group">
    <label class="col-lg-2 control-label">Imagem Atual</label>
    <div class="col-lg-4">
      <img src="<%= root_url %>clinica/<%= @user.link %>" width="140"/>
    </div>
  </div>


 <div class="form-group">
    <label class="col-lg-2 control-label">Logomarca</label>
    <div class="col-lg-4">
        <%= file_field :dados, :link, class: 'form-control' %>
        <p class="text-danger">A imagem deve ser <strong>140x50</strong> !</p>
      
    </div>
  </div>
   
    
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= hidden_field :dados, :id, :value => @user.id %>
      <%= submit 'Salvar', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>