<h2>Clínica</h2>
<p>
  <% if session[:user_tipo] == 1 %>
    <%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-xs btn-default' %>
    <%= link_to 'Listar Clínicas', users_path, class: 'btn btn-xs btn-default' %>

  <% else %>
    <%= link_to 'Listar Clínicas', users_path, class: 'btn btn-xs btn-default' %>
  <% end %>
</p>
<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Tipo:</b>
  <%= return_tipo @user.tipo %>
</p>