<%= form_for(@empresa, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "Error") %> para corrigir::</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-lg-2 control-label">ID</label>
    <div class="col-lg-4">
      <%= f.text_field :id, class: 'form-control',:required => true %>
      <small>Verificar com administrador.</small>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :nome %></label>
    <div class="col-lg-4">
      <%= f.text_field :nome, class: 'form-control',:required => true %>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-lg-2 control-label"><%= f.label :cnpj %></label>
    <div class="col-lg-4">
      <%= f.text_field :cnpj, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :email %></label>
    <div class="col-lg-4">
      <%= f.text_field :email, class: 'form-control',:required => true %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label"><%= f.label :login %></label>
    <div class="col-lg-4">
      <%= f.text_field :login, class: 'form-control',:required => true %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Senha</label>
    <div class="col-lg-4">
      <%= f.password_field :password_digest, class: 'form-control',:required => true %>
    </div>
  </div>
  <!--
  <div class="form-group">
    <label class="col-lg-2 control-label">Confirmar senha</label>
    <div class="col-lg-4">
      <%= f.password_field :password_confirmation, class: 'form-control',:required => true %>
    </div>
  </div>
  -->
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= f.hidden_field :user_id, :value => session["user_id"] %>
      <%= f.submit 'Salvar', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
