<h1>Empresas</h1>
<p>
    <%= link_to 'Nova Empresa', new_empresa_path, class: 'btn btn-sm btn-success' %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Nome</th>
        <th>Cnpj</th>
        <th>Email</th>
        <th>Login</th>
        <th>User</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.nome %></td>
            <td><%= empresa.cnpj %></td>
            <td><%= empresa.email %></td>
            <td><%= empresa.login %></td>
            <td><%= empresa.user.nome %></td>
            <td></td>
            <td></td>
            <td>
                 <div class="btn-group btn-group-sm">
                    <%= link_to 'Visualizar', empresa, class: "btn btn-default" %>
                    <%= link_to 'Editar', edit_empresa_path(empresa), class: "btn btn-default" %>
                    
                    <% if session[:user_tipo] == 1%>
                        <% if empresa.status == 1 %>
                        <%= link_to 'Desabilitar', desabilitar_empresa_path(empresa), class: 'btn btn-danger' %>
                        <% else %>
                        <%= link_to 'Habilitar', habilitar_empresa_path(empresa), class: 'btn btn-success' %>
                        <% end %>

                        <%= link_to 'Deletar', empresa, method: :delete, data: { confirm: 'Deletando essa empresa, todos os funcionarios e todos os exames serão deletados, deseja realmente deletar essa empresa?' }, class: "btn btn-default" %>
                    <% end %>
                </div>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />