<h2>Exame</h2>
<p>
<%= link_to 'Editar', edit_exame_path(@exame), class: 'btn btn-xs btn-default' %> 
<%= link_to 'Listar Exames', exames_path, class: 'btn btn-xs btn-default' %>

</p>
<p>
  <b>Link:</b>
  <%= @exame.link %>
</p>

<p>
  <b>Categoria:</b>
  <%= @exame.categoria.nome %>
</p>

<p>
  <b>Funcionario:</b>
  <%= @exame.funcionario.nome %>
</p>

<p>
  <b>Empresa:</b>
  <%= @exame.empresa.nome %>
</p>




