<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @exame.link %>
</p>

<p>
  <b>Categoria:</b>
  <%= @exame.categoria.nome %>
</p>

<p>
  <b>Funcionario:</b>
  <%= @exame.funcionario.nome %>
</p>

<p>
  <b>Empresa:</b>
  <%= @exame.empresa.nome %>
</p>




<%= link_to 'Edit', edit_exame_path(@exame) %> |
<%= link_to 'Back', exames_path %>
