<p>
  <%= link_to 'Listar Exames', consultas_path, class: 'btn btn-xs btn-default' %>
</p>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Exames</div>
  <div class="panel-body">
      <b>Funcionario:</b>
      <%= @consulta.funcionario.nome %> <br/>
       <b>Empresa:</b>
      <%= @consulta.empresa.nome %>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Tipo exame</th>
        <th>Arquivo</th>
      </tr>
    </thead>
    <tbody>
      <% for asset in @consulta.assets 
          if asset.asset.url == '/assets/original/missing.png'
          else %>
            <tr>
              <td><%= asset.data.strftime('%d/%m/%Y') unless asset.data.nil? %></td>
              <td> <%= asset.categoria.nome  unless asset.categoria_id.nil? %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-cloud-download"></span> Download'.html_safe, "#{asset.asset.url}", class: "btn btn-default btn-xs", :target => "_blank" %>


            </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>