<div class="row">
  <div class="col-lg-2">
    <h2>Funcionários</h2>
    <p>
      <%= link_to 'Novo Funcionário', new_funcionario_path, class: 'btn btn-xs btn-default' %>
    </p>
  </div>
  <div class="col-lg-10">
    <h2>Busca</h2>
    <%= render 'form_busca' %>
  </div>
</div>

<br/>
<div class="row">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Rg</th>
        <th>Matricula</th>
        <th>Empresa</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @funcionarios.each do |funcionario| %>
        <tr>
          <td><%= funcionario.nome %></td>
          <td><%= funcionario.rg %></td>
          <td><%= funcionario.matricula %></td>
          <td><%= funcionario.empresa.nome %></td>
          <td></td>
          <td></td>
          <td>
            <div class="btn-group btn-group-sm">
              <%= link_to 'Visualizar', funcionario, class: "btn btn-default" %>
              <%= link_to 'Editar', edit_funcionario_path(funcionario), class: "btn btn-default" %>
              <%= link_to 'Deletar', funcionario, method: :delete, data: { confirm: 'Realmente deseja deletar?' }, class: "btn btn-default" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>